body {
    background-color:lightblue;
}

.user-input {
    background-color: rgb(206, 148, 148);
    padding: 20px;
    width: fit-content;
    border-style: solid;
    border-color: gray;
    margin-left: 50px;
    margin-top: 50px;
    display:inline-table;
}

.results {
    background-color: rgb(206, 148, 148);
    padding: 20px;
    width: fit-content;
    border-style: solid;
    border-color: gray;
    margin-left: 50px;
    margin-top: 50px;
    display:inline-table;
}

.container {
    display: table;
    position: relative;
    padding-left: 25px;
    clear: both;
    padding-bottom: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    margin-left: 15px;
    margin-top: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #2196F3;
}