body {
    background-color:lightblue;
    display:inline-flex;
    margin-left: 30px;
    margin-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
}

.user-input {
    background-color: rgb(206, 148, 148);
    padding: 25px;
    width: fit-content;
    border-style: solid;
    border-color: gray;
    margin-left: 30px;
    margin-top: 50px;
    display:inline-table;
    color:white;
    margin-right: 30px;
}

.results {
    background-color: rgb(206, 148, 148);
    padding: 20px;
    width: fit-content;
    border-style: solid;
    border-color: gray;
    margin-left: 50px;
    margin-top: 50px;
    display:inline-flexbox;
    color: white;
}

.container {
    display: table;
    position: relative;
    padding-left: 25px;
    clear: both;
    padding-bottom: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    margin-left: 15px;
    margin-top: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    
}

datalist {
    display: none;
}

.s-list {
    display:table;
}

.submit {
    border-width: 2px;
    font-size: 20px;
    background-color: gray;
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
    padding: 10px;
}